
// Fix https://github.com/material-components/material-components-web/issues/2718
// Check if it can be removed.
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.form-element {
  margin: 24px 0;
}

.form-wrapper {
  &.field--type-boolean,
  &.field--type-datetime,
  &.field--type-email,
  &.field--type-link,
  &.field--type-timestamp,
  &.field--type-voting-api-field,
  &.field--type-decimal,
  &.field--type-float,
  &.field--type-integer,
  &.field--type-list-integer,
  &.field--type-file,
  &.field--type-image,
  &.field--type-entity-reference,
  &.field--type-list-string,
  &.field--type-text,
  &.field--type-text-long,
  &.field--type-text-with-summary,
  &.field--type-string,
  &.field--type-string-long,
  &.field--type-path,
  &.field--type-created {
    padding: 1.5rem 1.5rem;
    border-bottom: 1px solid var(--argue-base-cards-border-color);
  }

  &.form-actions {
    padding: 1.5rem 1.5rem;
  }

  .field-multiple-table {
    thead th {
      background-color: transparent;
      border-width: 0 0 1px;
      border-color: var(--argue-base-cards-border-color);
      &.field-label {
        padding-left: 0;
      }
    }
    h4.label {
      margin: 0;
      //  headline1, headline2, headline3, headline4, headline5, headline6, subtitle1, subtitle2,
      //  body1, body2, caption, button, overline
      @include mdc-typography(subtitle1);
    }
  }

  &.field--widget-text-textarea-with-summary {
    .text-summary-wrapper {
      margin-bottom: 2rem;
    }
  }
}

.form-item {
  .description,
  + .description {
    @include mdc-typography(subtitle2);
    margin-bottom: 1rem;
  }
}


.entity-meta {
  &__header {
    padding: 1.25rem 1rem 0;

  }

  &__last-saved,
  &__author {
    padding-bottom: .25rem;
    padding-top: .25rem;
    label {
      min-width: 20%;
      text-align: right;
      @include mdc-typography(subtitle1);
      font-weight: 600;
    }
  }

  .entity-content-form-revision-information {
    display: flex;
    flex-direction: column;
  }

  .field--type-string-long.field--name-revision-log {
    padding-left: 0;
    padding-right: 0;
    border-bottom-width: 0;

    > * {
      // hack: right border was hidden by revision log message.
      transform: scale(.99999);
    }
  }
}

.field-plugin-settings-edit-form {
  max-width: 600px;
}