

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include mdc-button-ink-color($argue-base-button-ink-color);
  @include mdc-states($argue-base-states);
}

a.button {
  @include button();

  &.button--danger {
    @include mdc-button-ink-color(white);
    @include mdc-button-container-fill-color(red);
  }
}


.draggable a.tabledrag-handle {
  cursor: move;
  float: left;
  height: 25px;
  margin-left: 0;
  overflow: hidden;
  display: block;

  .handle {
    height: 25px;
    width: 28px;
    margin: 0;
    padding: 0;
    background-position: left center;
  }
}

.mdc-text-field--textarea {

  textarea {
    background-color: #FFF;
    width: calc(100% - 2px);
  }

  + .filter-wrapper {
    display: none;
  }

}

.mdc-select {
  min-width: 200px;
}