
form.patch-form {
  @include cards;
  padding: 1rem;

  .card-header {
    margin-bottom: 2rem;
  }

  .form-actions {
    border-top: 1px solid var(--argue-base-cards-border-color);
    margin-top: 2rem;
    padding: 1.5rem .5rem .5rem;
  }
}