.node-preview {
  &-container {
    position: fixed;
    background-color: #FFF;
    border-top: 1px solid var(--argue-base-cards-border-color);
    top: 100vh;
    z-index: 499;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(-100%);

    .form-type-select {
      margin-left: 2rem;
    }
  }

  &-backlink {
    @include button();
  }
}
