fieldset.account-settings {

  @include cards;
  padding: 4rem 1rem 1rem;
  margin: 2rem 0;
  position: relative;

  legend {
    position: absolute;
    top: 1rem;
    left: 1rem;

    &:before {
      @include material-icon();
      vertical-align: text-bottom;
      margin-right: .25em;
      color: var(--mdc-theme-secondary);
      content: 'settings';
    }
  }

  &.personal legend:before { content: 'face' }
}