
.drawer-main-content {
  background-color: #F2F2F2;
}

body {
  box-sizing: border-box;
  height: calc(100vh - 1px);
  font-family: 'Roboto', sans-serif;
}


.main-content {
  overflow: auto;
  height: 100%;
  padding-left: var(--argue-base-main-padding);
  padding-right: var(--argue-base-main-padding);

  > .region {
    margin: var(--argue-base-main-padding) auto;

    &.region-breadcrumb {
      margin-top: 0;
      margin-left: calc(-1 * var(--argue-base-main-padding));
      margin-right: calc(-1 * var(--argue-base-main-padding));
    }

    &.region-content {
      max-width: 1400px;
    }
  }

}