
.drawer-main-content {
  background-color: #F2F2F2;
}

html {
  background-color: #F2F2F2;
}

body {
  height: calc(100vh - 1px);
  @include mdc-typography(body1);
}


.main-content {
  overflow: auto;
  padding-left: var(--argue-base-main-padding);
  padding-right: var(--argue-base-main-padding);

  > .region {
    margin: var(--argue-base-main-padding) auto;

    &.region-breadcrumb {
      margin-top: 0;
      margin-left: calc(-1 * var(--argue-base-main-padding));
      margin-right: calc(-1 * var(--argue-base-main-padding));
    }

    &.region-highlighted,
    &.region-content {
      max-width: 1400px;

    }
  }

}