{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<div class="form-wrapper--user-auth user-login">
  <h2>{{ 'User login'|t }}</h2>
  <form{{ attributes }}>
    {{ children }}
  </form>
</div>
