<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Argue Icons</title>
  <link rel="stylesheet" type="text/css" href="./argue-icons.css">
</head>
<body>
<h1>Argue Icons</h1>
<div>
{{#each codepoints}}
  <i class="argue-icons arg-icon">{{@key}}</i>
{{/each}}
<div>
</body></html>




