
.mdc-card {
  &.argument {
    &-teaser {
      margin: 2rem 0;
    }
    &__pro {
      .argument__type {
        color: green;
      }
    }

    &__con {
      .argument__type {
        color: red;
      }
    }


    a.add-link {
      background-color: var(--mdc-theme-secondary);
      color: var(--mdc-theme-on-secondary, #fff);
      display: inline-block;
      vertical-align: text-bottom;
      font-weight: 400;
      padding: 0 .5em 0 .15em;
      border-radius: .75em;
      text-decoration: none;
      margin-left: .5rem;
      @include mdc-typography(body2);
      &:before {
        content: 'add';
        @include material-icon(1.25em);
        vertical-align: text-bottom;
      }
    }
  }

  .argument {

    &__header {
      .material-icons {
        float: left;
      }

      &__text {
        margin-left: 60px;
      }

      h2, h3 { margin: 0; }
      padding: 1rem;
    }

    &__content {
      padding: 1rem 1rem 0;

      p {
        @include mdc-typography('body1');
        margin: 0 0 1rem;
      }
    }

    &__details {
      padding: 1rem;
    }

    &__footer {
      border-top: 1px solid var(--argue-base-cards-border-color);
    }
  }
}