.field--type-comment {
  h2.title {
    @include mdc-typography(headline4);
  }
  .indented {
    margin: 0;
    padding: 0 0 0 80px;
    background-color: #DDDDDD;
    overflow: hidden;
  }

  > .indented {
    margin: -2rem 0 0;
    @include mdc-card-shape-radius($card-shape-radius);
    @include mdc-card-outline($card-outline-color, $card-outline-width);
    overflow: hidden;
    @include mdc-elevation(2);
  }
}

.comment {
  margin-top: 2rem;
  margin-bottom: 2rem;

  &--header {
    padding: 1rem 1rem .5rem;
    border-bottom: 1px solid var(--argue-base-cards-border-color);
    display: flex;
    flex-direction: row;
  }

  &--title {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-content: stretch;

    strong {
      flex: 1 1 80%;
    }
  }

  a.permalink {
    @include mdc-typography(headline6);
    margin: 0;
    color: #000000;
    &:hover {
      text-decoration: underline;
    }
  }
  &__submitted {
    @include mdc-typography(subtitle2);
    font-style: normal;
    line-height: 2rem;
    white-space: nowrap;
    flex: 0 1 300px;

  }

  &--content {
    padding: .5rem 1rem;
  }

  &.densed {
    @include mdc-card-fill-color($card-fill-color);
    @include mdc-elevation(2);
    border-top: 1px solid var(--argue-base-cards-border-color);
    margin: 0;
    &.by-node-author {
      background-color: #EEFEFE;
    }

    .comment--content {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      align-content: stretch;
      p {
        margin-top: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .field--name-comment-body {
      padding-top: 1.5rem;
      @include mdc-typography(subtitle2);
      flex: 1 1 95%;
    }

    .compact {
      width: auto;
      
      .user__text {
        position: relative;
      }
      .user__roles {
        display: none;
      }
      .field--name-field-full-name {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .content-links {
      flex: 1 0 5%;
      align-self: flex-end;
      margin-right: -8px;
    }

    .created {
      position: absolute;
      top: 0;
      right: 16px;
      @include mdc-typography(subtitle2);
      line-height: 2rem;
      
    }


  }
}