
// Abstract definitions
.node.mdc-card {

  .card-header {
    padding: 1rem;
  }

  .node {

    &__content {
      padding: 1rem 1rem 0;

      p {
        @include mdc-typography('body1');
        margin: 1rem 0;
      }
    }

    &__details {
      padding: 1rem;
    }

    &__footer {
      border-top: 1px solid var(--argue-base-cards-border-color);
    }
  }
}

.proscons-chip {
  margin-top: -6px;
  margin-bottom: -6px;
  flex-wrap: nowrap;

  &--pro i {

  }
}

.node--type-rule.node--view-mode-full {
  .node__content p {
    font-size: 1.125rem;
    line-height: 1.5em;

  }
}
