
<div class="argue-chip-set proscons-chip">
  <div class="argue-chip proscons-chip--pro">
    <i class="material-icons argue-chip__icon argue-chip__icon--leading">thumb_up</i>
    <div class="argue-chip__text">{{ pro }}</div>
  </div>
  <div class="argue-chip proscons-chip--con">
    <i class="material-icons argue-chip__icon argue-chip__icon--leading">thumb_down</i>
    <div class="argue-chip__text">{{ con }}</div>
  </div>
</div>
