
<div class="argue-chip-set proscons-chip">
  <div class="argue-chip proscons-chip--pro-con" title="{{ 'Number of arguments (pro:contra)'|t }}">
    <i class="argue-icon argue-chip__icon argue-chip__icon--leading">argue_pro_con</i>
    <span class="argue-chip__text">{{ pro }}:{{ con }}</span>
  </div>
</div>

