
<div class="mdc-chip-set proscons-chip">
  <div class="mdc-chip proscons-chip--pro">
    <i class="material-icons mdc-chip__icon mdc-chip__icon--leading">thumb_up</i>
    <div class="mdc-chip__text">{{ pro }}</div>
  </div>
  <div class="mdc-chip proscons-chip--con">
    <i class="material-icons mdc-chip__icon mdc-chip__icon--leading">thumb_down</i>
    <div class="mdc-chip__text">{{ con }}</div>
  </div>
</div>