@import "vars";

@mixin cards() {
  @include mdc-card-shape-radius($card-shape-radius);
  @include mdc-card-fill-color($card-fill-color);
  @include mdc-card-outline($card-outline-color, $card-outline-width);
  @include mdc-elevation(1);
}

@mixin button() {
  @include mdc-button();
}


@mixin reference_list() {
  .field {
    &__label {
      line-height: 1.5rem;
      border-bottom: 1px solid var(--argue-base-cards-border-color);
      padding: .5rem .25rem;
    }

    &__items {
      
    }

    &__item {
      a {
        @include mdc-typography(body1);
        color: var(--argue-base-text-default-color);
      }
      span.empty {
        @include mdc-typography(body2);
        color: var(--argue-base-subtitle-color);
      }
    }
  }
}


@mixin material-icon($font-size: 24px) {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $font-size;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}