

$argue-base-button-ink-color: #5555FF;
$argue-base-states: #5555FF;

$card-shape-radius: 4px;
$card-fill-color: #FFFFFF;
$card-outline-color: #FFFFFF;
$card-outline-width: 0;

$help-text: rgba(0, 0, 0, .6);

$font-base-color: #111111;