:root {
  --mdc-theme-primary: #950000;
  --mdc-theme-on-primary: #FFFFFF;
  --mdc-theme-secondary: #BEAF75;
  --mdc-theme-on-secondary: #FFFFFF;
  --mdc-theme-error: #DD0000;
  --argue-base-theme-secondary: #BEAF75;
  --argue-base-theme-on-secondary: #FFFFFF;
  --argue-base-main-padding: 18px;
  --argue-base-cards-border-color: #E8E8E8;
  --argue-base-subtitle-color: #909090;
  --argue-base-subtitle-border-color: #909090;
  --argue-base-form-content: rgba(0,0,0,.87);
  --argue-base-form-background: #e0e0e0;
  --argue-base-text-default-color: #000000;
  --card-header-icon-bg-on-card: rgba(0,0,0,.3);
  --card-header-icon-color-on-card: #FFFFFF;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.dialog-off-canvas-main-canvas {
  height: 100%;
}

.app-bar {
  position: absolute;
}

@import "vars";

@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/checkbox/mdc-checkbox";
@import "@material/chips/mdc-chips";
@import "@material/drawer/mdc-drawer";
@import "@material/elevation/mdc-elevation";
@import "@material/fab/mdc-fab";
@import "@material/form-field/mdc-form-field";
@import "@material/icon-button/mdc-icon-button";
@import "@material/list/mdc-list";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/radio/mdc-radio";
@import "@material/select/mdc-select";
@import "@material/textfield/mdc-text-field";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";


@import "mixins";
@import "argue_proscons/argument";
@import "argue_versions/overview";
@import "global/typo";
@import "global/card";
@import "block/block-argue-proscons";
@import "change_requests/patch";
@import "content/argument";
@import "content/comment";
@import "content/node-rule";
@import "content/node-problem";
@import "components/details";
@import "components/overview";
@import "components/table";
@import "diff/diff";
@import "layout/layout";
@import "layout/layout-region";
@import 'field/field';
@import "form/comment-form";
@import "form/form-element";
@import "form/input";
@import "form/password-confirm";
@import "form/patch-form";
@import "form/preview";
@import "form/user-login";
@import "form/user-register";
@import "navigation/breadcrumbs";
@import "navigation/drawer";
@import "navigation/links";
@import "navigation/tabs";
@import "navigation/toolbar";
@import "rate/rate";
@import "user/user";
