:root {
  --argue-base-main-padding: 18px;
  --argue-base-cards-border-color: #E8E8E8;
}

.dialog-off-canvas-main-canvas {
  height: 100%;
}

.app-bar {
  position: absolute;
}


@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/checkbox/mdc-checkbox";
@import "@material/drawer/mdc-drawer";
@import "@material/elevation/mdc-elevation";
@import "@material/form-field/mdc-form-field";
@import "@material/icon-button/mdc-icon-button";
@import "@material/list/mdc-list";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/radio/mdc-radio";
@import "@material/select/mdc-select";
@import "@material/textfield/mdc-text-field";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";

@import "layout/layout";
@import 'field/field';
@import "navigation/drawer";
@import "navigation/breadcrumbs";
@import "navigation/tabs";
@import "navigation/toolbar";
@import "form/form-element";
@import "form/input";
@import "content/argument";
@import "content/node-rule";
