{#
/**
 * @file argument.html.twig
 * Default theme implementation to present Argument data.
 *
 * This template is used when viewing Argument pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_argument()
 *
 * @ingroup themeable
 */
#}

{% if content %}
<div{{ attributes.addClass('argument-teaser') }}>
  <div class="header">
    {% if content.name %}
      {{- content.name -}}
    {% endif %}
  </div>

  {% if content.voting %}
    {{- content.voting -}}
  {% endif %}

  <div class="content">
      {{ content | without('name', 'voting') }}
  </div>
</div>
{% endif %}
