{#
/**
 * @file change-request--list-item.html.twig
 * Default theme implementation to change request list view.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_argument()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'entity--change-request',
    'argue-list-item',
  ]
%}
<a href="{{ url }}"{{ attributes.addClass(classes) }}>
  <span class="argue-icon argue-list-item__graphic" aria-hidden="true">change_request</span>
  <span class="argue-list-item__text">
    <span class="argue-list-item__primary-text">{{ label }}</span>
  </span>
  <span class="argue-list-item__meta">
    {{ status }}
  </span>
</a>
