.argue-chip-set {
  padding: 4px;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;

  .argue-chip {
    margin: 4px;
  }
}

.argue-chip {
  border-radius: 16px;
  background-color: #e0e0e0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-transform: inherit;
  height: 32px;
  position: relative;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 12px;
  border-width: 0;
  outline: none;
  cursor: pointer;

  &__text {
    white-space: nowrap;
  }

  &__icon {
    font-size: 20px;
    width: 20px;
    height: 20px;

    &.argue-chip__icon--leading {
      margin-left: -4px;
      margin-right: 4px;
    }
  }

}
