ol.argue-structure-nested-list {
  &,
  ol {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    max-width: calc(100% + 2rem);
  }

  li,
  ol {
    display: block;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;

    > strong {
      @extend %arg-typo--h4;
      display: block;
      padding: .5em 1rem;
    }

    &.level_0 {
      flex: 1 1 calc(100% - 1rem);
      border-radius: 4px;
      background-color: #fff;
      border-width: 0;
      border-style: solid;
      border-color: #fff;
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
      margin: .5rem;
      overflow: hidden;

      > strong {
        border-bottom: 1px solid var(--argue-base-cards-border-color, rgba(0, 0, 0, .25));
      }

      @media (min-width: 992px) {
        flex: 1 1 calc(50% - 1rem);
      }
    }

    &.level_1 > strong {
      @extend %arg-typo--h5;
    }
  }
}
