// BREADCRUMB for MDC see https://codepen.io/MrGrigri/pen/JyMBvj

.mdc-breadcrumbs {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 var(--argue-base-main-padding);
  color: var(--mdc-breadcrumbs-text-secondary);
  background-color: var(--mdc-breadcrumbs-background);
}

.mdc-breadcrumbs--default {
  --mdc-breadcrumbs-text-primary: var(--mdc-theme-text-primary-on-background);
  --mdc-breadcrumbs-text-secondary: var(--mdc-theme-text-secondary-on-background);
  --mdc-breadcrumbs-text-disabled: var(--mdc-theme-text-disabled-on-background);
  --mdc-breadcrumbs-icon: var(--mdc-theme-text-icon-on-background);
  --mdc-breadcrumbs-background: #FFFFFF;
  --mdc-breadcrumbs-hover: rgba(0, 0, 0, 0.2);
}

.mdc-breadcrumbs--dark {
  --mdc-breadcrumbs-text-primary: var(--mdc-theme-text-primary-on-dark);
  --mdc-breadcrumbs-text-secondary: var(--mdc-theme-text-secondary-on-dark);
  --mdc-breadcrumbs-text-disabled: var(--mdc-theme-text-disabled-on-dark);
  --mdc-breadcrumbs-icon: var(--mdc-theme-text-icon-on-dark);
  --mdc-breadcrumbs-background: #212121;
  --mdc-breadcrumbs-hover: rgba(255, 255, 255, 0.15);
}

.mdc-breadcrumbs--primary {
  --mdc-breadcrumbs-text-primary: var(--mdc-theme-text-primary-on-primary);
  --mdc-breadcrumbs-text-secondary: var(--mdc-theme-text-secondary-on-primary);
  --mdc-breadcrumbs-text-disabled: var(--mdc-theme-text-disabled-on-primary);
  --mdc-breadcrumbs-icon: var(--mdc-theme-text-icon-on-primary);
  --mdc-breadcrumbs-background: var(--mdc-theme-primary);
  --mdc-breadcrumbs-hover: rgba(255, 255, 255, 0.15);
}

.mdc-breadcrumbs--secondary {
  --mdc-breadcrumbs-text-primary: var(--mdc-theme-text-primary-on-secondary);
  --mdc-breadcrumbs-text-secondary: var(--mdc-theme-text-secondary-on-secondary);
  --mdc-breadcrumbs-text-disabled: var(--mdc-theme-text-disabled-on-secondary);
  --mdc-breadcrumbs-icon: var(--mdc-theme-text-icon-on-secondary);
  --mdc-breadcrumbs-background: var(--mdc-theme-secondary);
  --mdc-breadcrumbs-hover: rgba(255, 255, 255, 0.15);
}

.mdc-breadcrumbs__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  margin-right: 4px;
  padding: 2px 4px;
  border-radius: 2px;
  box-sizing: border-box;
}

.mdc-breadcrumbs__link[disabled],
.mdc-breadcrumbs__link[disabled="true"] {
  color: var(--mdc-breadcrumbs-text-disabled);
  cursor: not-allowed;
}

.mdc-breadcrumbs__link[disabled]:hover,
.mdc-breadcrumbs__link[disabled="true"]:hover,
.mdc-breadcrumbs__link[disabled]:focus,
.mdc-breadcrumbs__link[disabled="true"]:focus {
  background-color: transparent;
}

.mdc-breadcrumbs__link:hover,
.mdc-breadcrumbs__link:focus {
  background-color: var(--mdc-breadcrumbs-hover);
}

.mdc-breadcrumbs__link--icon {
  margin-left: 28px;
}

.mdc-breadcrumbs__link--icon::before {
  position: absolute;
  left: -28px;
  display: inline-flex;
  align-items: center;
  pointer-events: none;
  user-select: none;
  box-sizing: border-box;
}

.mdc-breadcrumbs__link--font-icon::before {
  content: '\E5CC';
  font-family: 'Material Icons';
  font-size: 24px;
  color: var(--mdc-breadcrumbs-icon);
}

.mdc-breadcrumbs__link--svg-icon::before {
  content: '';
  height: 24px;
  width: 24px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='rgba(0, 0, 0, 0.38)' d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z'/></svg>") no-repeat center center;
}

.mdc-breadcrumbs--dark .mdc-breadcrumbs__link--svg-icon::before,
.mdc-breadcrumbs--primary .mdc-breadcrumbs__link--svg-icon::before,
.mdc-breadcrumbs--secondary .mdc-breadcrumbs__link--svg-icon::before {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='rgba(255, 255, 255, 0.50)' d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z'/></svg>") no-repeat center center;
}

.mdc-breadcrumbs__link--icon:first-child {
  margin-left: 0;
}

.mdc-breadcrumbs__link--icon:first-child::before {
  display: none;
}

.mdc-breadcrumbs__link:last-child {
  color: var(--mdc-breadcrumbs-text-primary);
}

/* ** RIGHT TO LEFT Support ** */

[dir="rtl"] .mdc-breadcrumbs__link,
[dir="rtl"].mdc-breadcrumbs__link {
  margin-right: 0;
  margin-left: 0;
}

[dir="rtl"] .mdc-breadcrumbs__link--icon,
[dir="rtl"].mdc-breadcrumbs__link--icon {
  margin-right: 28px;
}

[dir="rtl"] .mdc-breadcrumbs__link--icon::before,
[dir="rtl"].mdc-breadcrumbs__link--icon::before {
  left: 0;
  right: -28px;
}

[dir="rtl"] .mdc-breadcrumbs__link--font-icon::before,
[dir="rtl"].mdc-breadcrumbs__link--font-icon::before {
  content: '\E5CB';
}

[dir="rtl"] .mdc-breadcrumbs .mdc-breadcrumbs__link--svg-icon::before,
[dir="rtl"].mdc-breadcrumbs .mdc-breadcrumbs__link--svg-icon::before {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='rgba(0, 0, 0, 0.38)' d='M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z'/></svg>") no-repeat center center;
}

[dir="rtl"] .mdc-breadcrumbs--dark .mdc-breadcrumbs__link--svg-icon::before,
[dir="rtl"].mdc-breadcrumbs--dark .mdc-breadcrumbs__link--svg-icon::before,
[dir="rtl"] .mdc-breadcrumbs--primary .mdc-breadcrumbs__link--svg-icon::before,
[dir="rtl"].mdc-breadcrumbs--primary .mdc-breadcrumbs__link--svg-icon::before,
[dir="rtl"] .mdc-breadcrumbs--secondary .mdc-breadcrumbs__link--svg-icon::before,
[dir="rtl"].mdc-breadcrumbs--secondary .mdc-breadcrumbs__link--svg-icon::before {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='rgba(255, 255, 255, 0.50)' d='M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z'/></svg>") no-repeat center center;
}

[dir="rtl"] .mdc-breadcrumbs__link--icon:first-child,
[dir="rtl"].mdc-breadcrumbs__link--icon:first-child {
  margin-right: 0;
}

