ol.argue-structure-nested-list,
ol.argue-structure-nested-list ol {
  counter-reset: item;
  padding-left: 10px;
}

ol.argue-structure-nested-list li,
ol.argue-structure-nested-list ol li {
  display: block
}

ol.argue-structure-nested-list li > strong:before,
ol.argue-structure-nested-list ol li > strong:before {
  content: counters(item, ".")". ";
  counter-increment: item
}
