
#sections .level_1 {
  margin-left: 20px;
}
#sections .level_2 {
  margin-left: 40px;
}
#sections .level_3 {
  margin-left: 60px;
}
#sections .level_4 {
  margin-left: 80px;
}
#sections .level_5 {
  margin-left: 100px;
}
#sections .level_6 {
  margin-left: 120px;
}
#sections .level_7 {
  margin-left: 140px;
}
#sections .level_8 {
  margin-left: 160px;
}
#sections .level_9 {
  margin-left: 180px;
}