.argue-structure-nested-list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: -.5rem;
  max-width: 100%;
}

.argue-structure-nested-list .level_0 {
  flex: 1 1 calc(100% - 1rem);
  box-sizing: border-box;
  margin: .5rem;
  overflow: hidden;
}

@media (min-width: 1280px) {
  .argue-structure-nested-list .level_0 {
    flex: 1 1 calc(50% - 1rem);
  }
}
