.argue-versions {
  .mdc-card {
    margin: 2rem 0;
  }

  .card-header {
    padding: 1rem;
    border-bottom: 1px solid var(--argue-base-cards-border-color, #E8E8E8);
  }

  &--inner {
    padding: 1rem;
  }
}
