{%
 set icon = attributes.getClass|clean_class
%}

{{ attach_library('argue_gin/argue-chip') }}
<span{{ attributes.addClass('argue-chip') }}>
  <span class="argue-icon argue-chip__icon argue-chip__icon--leading">{{ icon }}</span>
  <span class="argue-chip__text">{{ status }}</span>
</span>
