/* Card destroys layout of status report page. */
.card.system-status-general-info__item {
  flex-direction: row;
  padding: 1.25rem;
}

ul.links.inline {
  margin: 0 -.25em;

  li {
    padding: 0 .5em;
  }
}
