.mark-new {
  position: absolute;
  font-size: .6em;
  padding: 0 7px;
  line-height: 1rem;
  border-radius: 1rem;
  background-color: #a2c;
  color: #FFF;
  margin: 4px auto;
  width: max-content;
  text-transform: uppercase;
}
