.argue-proscons {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-direction: row;
}

.argue-proscons__col,
.argue-proscons__col.panel {
    flex: 1 1 50%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
}
