
.argument {
  position: relative;
}

.argument-teaser {
  margin: 1.5rem 0;
}

.argument-teaser .argument-header {
  font-size: .875rem;
  font-weight: 400;
  margin-bottom: 1em;
}

.argument-teaser .content {
  margin-left: 60px;
  margin-bottom: 2rem;
}

.argument-teaser:target {
  outline: 2px dotted transparent;
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769;
}

.argument__content {
  min-height: 10em;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  margin-bottom: 0;
}

.argument__details .card__metadata {
  margin-bottom: 1.5rem;
}
