.argumentation {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-direction: row;
}

.block-argue-proscons--col,
.block-argue-proscons--col.panel {
    flex: 1 1 50%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
}
