
.rate-widget-yesno {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: -12px;
  margin-right: -12px;
}

.rate-widget-yesno--label,
.rate-widget-yesno--actions {
  padding: 0 12px;
}

.rate-widget-yesno--actions .button:last-child {
  margin-right: 0;
}
