.profile {

  &.compact {
    display: flex;
    flex-direction: row;
    width: 320px;
    max-width: 100%;

    .field--type-image {
      width: 48px;
      height: 48px;
      margin-right: 1rem;
      flex: 0 0 48px;

      img {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 24px;
      }
    }

    .user__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .user__name {
      @include mdc-typography-overflow-ellipsis;

      a {
        @include mdc-typography-overflow-ellipsis;
        color: var(--argue-base-text-default-color);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .user__roles {
      @include mdc-typography(body2);
      color: var(--mdc-theme-text-secondary-on-background,rgba(0,0,0,.54));
    }
  }

  &.full{
    @include cards;
    .card-header {
      padding: 1rem;
    }

    .user--content-primary,
    .user--content-secondary {
      display: flex;
      flex-direction: row;
      padding: 1rem 0;
      min-height: 240px;
      > * {
        flex: 1 1 auto;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    .field__label {
      @include mdc-typography(subtitle1);
      padding-bottom: .375rem;
      border-bottom: 1px solid var(--argue-base-cards-border-color);
      margin: .25em 0 0
    }

    .field__items {
      margin: .5rem 0;
    }

    .field--name-field-user-image {
      flex: 0 0 auto;
      img {
        display: block;
        margin: 0 auto;
        @include mdc-elevation(2);
      }
    }
  }
}
