<!-- Add you custom twig html here -->
<fieldset class="field-group-fieldset account-settings address" id="address">
    <legend>
        <span class="fieldset-legend">{{ header }}</span>
    </legend>
    <div class="fieldset-wrapper">{{ content }}</div>
</fieldset>