ol.argue-structure-nested-list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem -1rem;
  padding: 0;

  ol, li {
    margin: 0;
    padding: 0;
  }


  li {
    > strong {
      display: block;
      @include mdc-typography(headline4);
      padding: .5em 1rem;
    }

    &.level_0 {
      @include cards();
      width: calc(50% - 2rem);
      flex: 1 1 calc(50% - 2rem);
      margin: 1rem 1rem;

      > strong {
        border-bottom: 1px solid var(--argue-base-cards-border-color);
      }
    }

    &.level_1 {
      > strong {
        @include mdc-typography(headline5);
      }
    }

    &.level_2 {
      > strong {
        @include mdc-typography(headline6);
      }
    }
  }

}