ol.argue-structure-nested-list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -0.5rem 1rem;
  padding: 0;
  max-width: calc(100% + 2rem);

  ol, li {
    margin: 0;
    padding: 0;
  }


  li {
    > strong {
      display: block;
      @include mdc-typography(headline4);
      padding: .5em 1rem;

    }
    .description {
      @include mdc-typography(subtitle1);
      color: var(--mdc-theme-text-secondary-on-background,rgba(0,0,0,.54));
    }

    &.level_0 {
      @include cards();
      flex: 1 1 calc(100% - 1rem);
      margin: .5rem;
      overflow: hidden;

      > strong {
        border-bottom: 1px solid var(--argue-base-cards-border-color);
      }

      @media (min-width: 992px) {
        flex: 1 1 calc(50% - 1rem);
      }
    }

    &.level_1 {
      > strong {
        @include mdc-typography(headline5);
      }
    }

    &.level_2 {
      > strong {
        @include mdc-typography(headline6);
      }
    }
  }

}
