table {

  &:not(.field-multiple-table) {
    @include cards();
  }

  thead {

    tr {
      border-bottom: 1px solid var(--argue-base-cards-border-color);
      @include mdc-typography(subtitle2)

    }
    th {
      border: none;
      background: transparent;
      text-transform: none;
      font-weight: 600;
      
    }
  }

  tbody {
    tr {
      border: none;
    }
    td {
      @include mdc-typography(body1)
    }

  }
}